*{
  margin: 0;
  box-sizing: border-box;
  
  }
  body{
 background-color:#fafafa;
  }
  .firstinGrid{
 
  border-radius:0px;

  
  }
  .firstpaper{
   

    border-radius:0px;
  }
 

  .paperone{
    background-image:url("https://images.pexels.com/photos/3653849/pexels-photo-3653849.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");}

  